form {
    font-weight: bold;
    font-size: 15px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    width: 100%;
}

label {
    width: 45%;
    margin-right: 5%;
    padding-top: 2%;
    display: inline-block;
}

input {
    width: 45%;
    padding: 8px;
    margin-bottom: 10px;
}

input[type="submit"] {
    width: 46%;
    margin-right: 4%;
    cursor: pointer;
    font-weight: bold;
}

input[type="reset"] {
    width: 46%;
    margin-right: 4%;
    cursor: pointer;
    font-weight: bold;
}